<table border="1">
	<thead>
		<tr>
			<td>Column 1</td>
			<td>Column 2</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Username: Your name</td>
			<td>Staffid: Your Id</td>
		</tr>
	</tbody>
</table>
